.redactor-box {
  float: left;
  /* width: calc(100% - 190px); */
}
body .redactor-box ul{
  margin-left: auto;
}
body .redactor-box ul li{
  list-style-type: disc;
}
/* plays well with django-suit full-width */
.full-width .redactor-box {
  max-width: none;
}
body .redactor-box_fullscreen{ max-width: none; }
